.btn.is-open ~ .description {
  opacity: 0; }

.btn {
  display: block;
  position: relative;
  font-size:inherit;
  width: 100%;
  height: 40px;
  -webkit-transition: width 0.8s cubic-bezier(0.23, 1, 0.32, 1), height 0.8s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
          transition: width 0.8s cubic-bezier(0.23, 1, 0.32, 1), height 0.8s cubic-bezier(0.23, 1, 0.32, 1), transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  text-align: center;
}

.btn p {
	padding-top:8px;
	font-size:15px;
	font-weight:bold;
}

.btn-front p {
	padding-top:12px;
	font-size:14px;
	font-weight:normal;
}

.btn-front {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  line-height: 15px;
  background-color: #F44336;
  color: #fff;
  cursor: pointer;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: background 0.15s ease, line-height 0.8s cubic-bezier(0.23, 1, 0.32, 1);
          transition: background 0.15s ease, line-height 0.8s cubic-bezier(0.23, 1, 0.32, 1); }
  .btn-front:hover {
    background-color: #f77066; }

.btn-back {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #eee;
  color: #222;
  -webkit-transform: translateZ(-2px) rotateX(180deg);
          transform: translateZ(-2px) rotateX(180deg);
  overflow: hidden;
  -webkit-transition: box-shadow 0.8s ease;
          transition: box-shadow 0.8s ease; }
  .btn-back p {
    margin-top: 27px;
    margin-bottom: 25px;
	}
  .btn-back button {
    padding: 8px 12px;
    width: 30%;
    margin: 0 5px;
    background-color: transparent;
    border: 0;
    border-radius: 2px;
    font-size: 1em;
    cursor: pointer;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-transition: background 0.15s ease;
            transition: background 0.15s ease; }
  .btn-back button:focus {
    outline: 0; }
  .btn-back button.yes {
    background-color: #2348a0;
    color: #fff; }
    .btn-back button.yes:hover {
      background-color: #51adf6; }
  .btn-back button.no {
	background-color: #F44336;
    color: #fff; }
    .btn-back button.no:hover {
      background-color: #ddd; }

.btn[data-direction="left"] .btn-back,
.btn[data-direction="right"] .btn-back {
  -webkit-transform: translateZ(-2px) rotateY(180deg);
          transform: translateZ(-2px) rotateY(180deg); }

.btn.is-open {
  width: 100%;
  height: 80px;
}
  .btn.is-open .btn-front {
    pointer-events: none;
    line-height: 80px;
	}
  .btn.is-open .btn-back {
    /*box-shadow: 0 8px 25px rgba(0, 0, 0, 0.4);*/
	}

.btn[data-direction="top"].is-open {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg); }

.btn[data-direction="right"].is-open {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg); }

.btn[data-direction="bottom"].is-open {
  -webkit-transform: rotateX(-180deg);
          transform: rotateX(-180deg); }

.btn[data-direction="left"].is-open {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg); }


