html {font-size:80%;height:100%;background:#e9ebee;}
body {font-family: 'Hind', sans-serif;height:100%;color:#333;line-height:1.5;}
h1, h2, h3, h4, h5, h6 {font-family: 'Hind', sans-serif;}
body, div, fieldset, form {margin:0;padding:0;}
fieldset {width:auto;border:none;}
label {display:block;font-weight:bold;margin-top:5px;color:#444;}
label span {font-weight:normal;color:#666;}
h1 {font-size:1.4em;font-weight:normal;color:#06C}
h2 {font-size:1.4em;display:block;margin:10px 0 5px 0;color:#456;}
h3 {font-size:1.3em;margin:5px 0;color:#567;font-weight:normal;}
h3.under a {text-decoration:underline;color:#678;}
h4 {font-size:1.2em;margin:8px 0 5px 0;color:#666;}
h5 {font-size:1.1em;margin:0;color:#666;}
h6 {font-size:1em;margin:5px 0;color:#666;}
a {text-decoration:none;color:#3b5f94}
a:hover {text-decoration:underline;}
a img {border:none;}
a.cancel, a.ok {padding: 2px 5px; }
a.on {text-decoration:underline;font-weight:bold;}
ul {list-style-type:none;padding-left: 0;}
li {margin:0px 5px;float:left;}
p {margin:0;}

input, textarea, select {border:1px solid #ccc;padding:1px 3px;margin:1px;font-family:inherit;font-size:1em;font-weight:bold;}
input:focus, textarea:focus, select:focus {border:1px solid #3b5f94;}

button {border:1px solid #ccc;background-color:#3b5f94;font-size:1em;padding:1px 10px;margin:1px;font-family:inherit;color:#FFF;border-radius: 3px;}
button[disabled=disabled], button:disabled {opacity:0.4;}
.buttonGrey {border:1px solid #ccc;background-color:#ddd;color:#666}

textarea {width:98%;height:100px;}
.editfile {height:500px;}
table {width:100%;padding:0;border-collapse:collapse;border-spacing:0;font-size:inherit;margin-top:1px;}
th {background:#567;color:#fff;font-size:1.2em;text-align:center;}
td.menu {background:#89a;color:#fff;font-weight:bold;text-align:center;font-size:1.1em;}
td {margin:0 1px;padding: 2px 5px 0 5px;vertical-align: top;}

#content {width:880px;margin:0 auto;padding:0 10px;}
#content p{margin:0;}

#head {background:#CCC;color:#333;height:150px;font-weight:bold;font-size:16px;margin-bottom:5px;background-image:url(files/img_private/head.jpg);}
#head_under {font-weight:bold;font-size:20px;margin-bottom:10px;background-color:#3b5f94;padding:5px;color:#fff;}
#head_under #foot_status {color:#fff;text-align:right;}
.head_under_status {font-size:12px;color:#fff;font-weight:normal;}

#site {float:left;margin-left:20px;height:50px;}
#site h1 {color:#fff;margin:0 0 -8px 0;}
#header p {color:#fff;margin:0 0 -10px 0;padding:0;}
#site h1 a {color:#ccc;}

#logged {float:right;text-align:right;margin-right:20px;}
#logged a {color:#fff;}
#logged ul {list-style:none;margin:0;padding:0;}
#logged ul li {display:inline;margin-left:4px;}
#logged ul li.mright {margin:0 10px;}

/* navbar */
#navbar {clear:both;color:#3b5f94;padding:3px 0 0 0;border-bottom:solid 1px #CCC;margin-bottom:5px;font-size:16px;font-weight:bold;}
#navbar a {color:#3b5f94;}

/* search */
#search {float:right;padding:5px;font-weight:bold;font-size:12px;color:#FFF;}

/*
#page {width:880px;background:#fff;}
#page h1 {color:#06C;padding:3px 0 0 0;}
#pagecontent {float:left;position:relative;} /* not used */

#left {float:left;width:180px;}
#right {float:left;width:500px;}
#right_content {border:solid 1px #CCC;padding:5px;margin:0 0 10px 5px;background-color:#fff;}
#right_info {float:right;width:195px;}

#results {background-color:#F9F9F9;}
#results tr {border-bottom:solid #FFF 1px;}
#results tr:hover {background:#F0F0F0;}

#form { background:#D9ECFF; }

#comments {margin-bottom:15px;background-color:#fff; padding:5px;color:#666;}
/* select all elements that start with text 'post_comment' */
tr[id^="post_comment"] {
	display:none;
    padding: 10px;
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: #fff;
    box-shadow: 0 1px 1px #ccc;
    margin-bottom: 5px;
    background-color: #f1f1f1;
}
.button_comments {margin-top:5px;font-size:11px;color:#fff;background-color:#999;}
.textarea_comment {height:25px;}

#msg, #ajaxmsg {background:#06C;color:#fff;}
#msg div, #ajaxmsg div {margin:0 auto;padding-bottom:5px;width:900px;}
#msg p, #ajaxmsg p {margin:0;font-weight:bold;}

#topic {margin:10px 15px 0 250px;overflow:hidden;}
#sidebar {float:right;width:200px;position:relative;left:215px;margin:20px 0;}
#sidebar a {color:#456;}

#foot {border-top:solid 1px #CCC;margin:10px auto 0 auto;text-align:right;font-size:0.85em;padding-bottom:20px;}
#foot p span {line-height:30px;color:#666;font-size:1em;}
#foot a {color:#666;}

#unique_pop, #help_pop, #load_youtube, #load_photo {height:auto;padding:5px;background-color:#F4F4F4;border:1px solid #CCC;margin-bottom:5px}
#hform label {display:inline;}

/* global classes */
.toptobottom {min-height: 100%;}

.bold {font-weight:bold;}
.error {color:#F00;font-size:1.2em;}
.odd {background-color:#fff;}
.even {background-color:#eee;}
.even:hover, .odd:hover {background:#ccc;}
.clear {clear: both;}
.acenter {text-align: center;}
.amiddle {vertical-align: middle;}
.aright {text-align:right;}
.fleft {float:left;}
.fright {float:right;}
.xcenter {width:auto;margin:10px auto;text-align:center;}
.mbottom {margin-bottom:15px;}
.mtop {margin-top:15px;}
.xsmall {font-size:0.9em;}
p .xsmall, li .xsmall, td .xsmall {color:#999;}
.xlarge {width:96%;}
.xbig {font-size:1.4em;font-weight:bold;}
.borded {border:1px solid #ddd;}
.border_bottom {border-bottom:1px solid #ddd;}
.thumb {max-width:80px;margin:5px;vertical-align:middle;}
.crop {width:115px;height:115px;object-fit:cover;}
.evodd {background:#ddd;font-weight:bold;}
.pad {padding:0 5px;}
.pad_all {padding:5px;}
.padtop {padding-top:10px;}
.padright {padding-right:5px;}
.box {border:1px solid #ddd;}
.tbox {border-top:1px solid #ddd;margin-top:5px;}
.sbox {border-bottom:1px solid #ddd;padding:0 5px 0 0;}
.fbox {background:#eee;padding:5px 0;}
.box_up_down {height:32px;margin:0 0 10px 0;line-height:33px;padding:0 5px;background-color:#fff;text-align:right;}
.through {text-decoration:line-through;}
.block {display:block;}
.scroller {height:400px;overflow:auto;}
.txt_red {color:#F00;}
.img_profile {width:168px;margin-bottom:10px;border:1px solid #CCC;padding:5px;background-color:#fff;}
.img_event {max-width:250px;padding:5px;border:1px solid #E4E4E4}

/* status zone */
/*#status_msg {margin-bottom:10px;}*/
#foot_status {margin-top:5px;font-size:10px;color:#666;}
.statusbox {height:80px;}

/* news zone */
#news_home {float:right;margin-left:10px;width:200px;}

/* slideshow zone */
/*#slideshow table {width:100%;}*/
#results_slideshow {width:auto; margin:3px;background-color:#FFF;border-spacing:inherit;}
.slideshowbox {width:80px;height:auto;border:1px solid #ddd;vertical-align:middle;}

/* shop zone */
#results_shop {width:auto; margin:3px;background-color:#FFF;border-spacing:inherit;}
#results_shop tr {border-bottom:solid #FFF 1px;}
#results_detail {width:100%; margin:3px;background-color:#FFF;border-spacing:inherit;}
#cart_mini {width:100%;background-color:#eee;text-align:right;}
#results_cart {margin:1px;}
.prod_img {max-width:500px;max-height:500px;}
.shopbox {width:100px;height:120px;border:1px solid #ddd;vertical-align:bottom;text-align:center;}
.shopdetail {width:100%;text-align:center;margin:0 auto;}
.cart {background:#eee;border:1px solid #ddd;width:150px;}
#plusminus {width:65px;margin:0 auto;}
#plusminus .plusminus {float:left;width:20px;height:20px;border:1px solid #ddd;margin:5px;background:#fff;}
#plusminus a {text-decoration:none;}

/* docs zone */
/*#results_docs {width:0 auto;background-color:#FFF;}*/
.docsbox {width:70px;border:1px solid #ddd;vertical-align:top;text-align:center;}
.docsbox a {text-decoration:none;}

/* box classes */
.help {display:block;background:#eee;font-weight:bold;padding-right:10px;}
.hide {display:none;}
.toggler {margin-bottom:0;cursor:pointer;}
.element ul {margin-bottom:5px;}

/* tree */
.rtoggle {width:80%;cursor:pointer;color:#036;}
.rtoggle:hover {text-decoration:underline;}
.rtoggle.active{font-weight:bold;}
.relement{width:80%;margin-left:15px;}
.relement p {margin:0}

/* inner */
.ibox {display:block;height:auto;}
.ibox ul {margin:0;width:50%;}

/* uls */
ul.h {list-style:none;margin:0;padding-left:0;}
ul.h li {display:inline;margin:0 8px;}
ul.h li a.on {color:#333;}

/* menu */
#menu td {background-color:#e9ebee;border-bottom:1px solid #DADADA;}

.comments_full {font-weight:bold;}


/* tabs */
ul.tab {list-style:none;margin:0;padding-left:0;margin:1px 0;}
ul.tab li {display:inline;margin:0 1px;padding:1px 10px;border:solid 1px #CCC; background:#FFF;float:left;}
ul.tab li:hover {background:#F0F0F0;}
ul.tab li.on {background:#F90;}
ul.tab li.on a {color:#FFF;}

/* pagination */
#pager {border-top:solid 1px #CCC;}
#pager span {color:#fff;background:#06C;padding:0 4px;}
#pager a {font-weight:bold;margin:0 3px;}

/* area map */
li.map {margin-top:5px;}

/* multiupload */
div.multiupload {}
div.multiupload div.list {}
div.multiupload div.list div.item {margin:1px;background: #eee;}
div.multiupload div.list div.item:hover {background: #ccc;}
div.multiupload div.list div.item span {float:left;width:300px;margin:0 10px;}
div.multiupload div.list img {float:left;margin:3px;vertical-align:middle;cursor:pointer;}

/* fancyform styles */
input.checked {border:none;background-image:url(../img/chk_on.png);}
input.unchecked {border:none;background-image:url(../img/chk_off.png);}
input.selected {border:none;background:url(../img/rdo_on.png);}
input.unselected {border:none;background:url(../img/rdo_off.png);}



/* DATEPICKER */
	.datepicker_dashboard {
		position: absolute;
		font-size: 10px;
		font-family: "Lucida Grande", LucidaGrande, "Lucida Sans", Geneva, Verdana, sans-serif;
		color: #fff;
		line-height: normal;
		width: 172px;
		height: 135px;
		padding: 14px;
		background: url(../js/frame.png) no-repeat;
	}
	
	/* header
	********************************************************/
	.datepicker_dashboard .header {
		position: relative;
		height: 15px;
		margin-bottom: 5px;
		padding-top: 1px;
	}
	
	.datepicker_dashboard .header .title {
		text-align: center;
		margin: 2px 18px 0 18px;
	}
	
	.datepicker_dashboard .header .titleText {
		color: #ccff00;
	}
	
	.datepicker_dashboard .header .previous,
	.datepicker_dashboard .header .next,
	.datepicker_dashboard .header .closeButton {
		position: absolute;
		cursor: pointer;
		text-indent: -40px;
		overflow: hidden;
		width: 12px;
		height: 12px;
		top: 2px;
		background-image: url(../js/buttons.png);
		background-position: left top;
		background-repeat: no-repeat;
	}
	
	.datepicker_dashboard .header .previous {
		left: 4px;
	}
	.datepicker_dashboard .header .previous:hover {
		background-position: left bottom;
	}
	.datepicker_dashboard .header .next {
		right: 4px;
		background-position: -13px top;
	}
	.datepicker_dashboard .header .next:hover {
		background-position: -13px bottom;
	}
	.datepicker_dashboard .header .closeButton {
		display: none;
		right: 0px;
		top: 0px;
		background-position: right top;
	}
	.datepicker_dashboard .header .closeButton:hover {
		background-position: right bottom;
	}
	
	/* body
	********************************************************/
	.datepicker_dashboard .body {
		position: relative;
		top: 0px;
		left: 2px;
		width: 168px;
		height: 112px;
		overflow: hidden;
	}
	
	/* time
	********************************************************/
	.datepicker_dashboard .time {
		position: relative;
		width: 100%;
		height: 100%;
	}
	
	.datepicker_dashboard .time .hour,
	.datepicker_dashboard .time .separator,
	.datepicker_dashboard .time .minutes {
		background: #333;
		border: 0px;
		width: 50px;
		font-size: 32px;
		color: #fff;
		position: absolute;
		top: 10px;
		text-align: center;
		padding: 2px;
	}
	
	.datepicker_dashboard .time .hour {
		left: 15px;
	}
	.datepicker_dashboard .time .separator {
		background: transparent;
		width: 10px;
		left: 76px;
	}
	
	.datepicker_dashboard .time .minutes {
		left: 95px;
	}
	.datepicker_dashboard .time .ok {
		position: absolute;
		top: 65px;
		height: 32px;
		width: 136px;
		left: 15px;
		font-size: 20px;
	}
	
	/* days-grid
	********************************************************/
	.datepicker_dashboard .days .day {
		float: left;
		text-align: center;
		overflow: hidden;
		width: 23px;
		padding-top: 1px;
		height: 14px;
		margin: 0 1px 1px 0;
	}
	.datepicker_dashboard .days .titles {
		height: 15px;
		margin-bottom: 2px;
		text-transform: uppercase;
		color: #aaa;
	}
	.datepicker_dashboard .days .day0 {
		margin-right: 0;
	}
	
	.datepicker_dashboard .days .week5 .day {
		margin-bottom: 0;
	}
	
	/* days-colors
	********************************************************/
	.datepicker_dashboard .days .week .day {
		cursor: pointer;
	}
	.datepicker_dashboard .days .week .day:hover {
		color: #ccff00;
	}
	
	.datepicker_dashboard .days .otherMonth {
		color: #444444;
	}
	
	.datepicker_dashboard .days .selected {
		color: #ccff00;
	}
	
	/* months-grid
	********************************************************/
	.datepicker_dashboard .months .month {
		float: left;
		cursor: pointer;
		text-align: center;
		padding-top: 6px;
		width: 55px;
		overflow: hidden;
		height: 21px;
		margin: 0 1px 1px 0;
	}
	
	.datepicker_dashboard .months .month3,
	.datepicker_dashboard .months .month6,
	.datepicker_dashboard .months .month9,
	.datepicker_dashboard .months .month12 {
		margin-right: 0;
	}
	
	.datepicker_dashboard .months .month10,
	.datepicker_dashboard .months .month11,
	.datepicker_dashboard .months .month12 {
		margin-bottom: 0;
	}
	
	/* months-colors
	********************************************************/
	.datepicker_dashboard .months .month:hover {
		color: #ccff00;
	}
	
	.datepicker_dashboard .months .selected {
		color: #ccff00;
	}
	
	/* years-grid
	********************************************************/
	.datepicker_dashboard .years .year {
		float: left;
		cursor: pointer;
		text-align: center;
		padding-top: 6px;
		width: 32px;
		overflow: hidden;
		height: 21px;
		margin: 0 1px 1px 0;
	}
	
	.datepicker_dashboard .years .year4,
	.datepicker_dashboard .years .year9,
	.datepicker_dashboard .years .year14,
	.datepicker_dashboard .years .year19 {
		margin-right: 0;
	}
	
	.datepicker_dashboard .years .year15,
	.datepicker_dashboard .years .year16,
	.datepicker_dashboard .years .year17,
	.datepicker_dashboard .years .year18,
	.datepicker_dashboard .years .year19 {
		margin-bottom: 0;
	}
	
	/* years-colors
	********************************************************/
	.datepicker_dashboard .years .year:hover {
		color: #ccff00;
	}
	
	.datepicker_dashboard .years .selected {
		color: #ccff00
	}
	
	/* global
	********************************************************/
	.datepicker_dashboard .unavailable {
		color: #533 !important;
		cursor: default !important;
		text-decoration: line-through;
	}